<%= render 'navegacion/navPrivate' %>
<div class="row">
	<div class="col-md-offset-1 col-md-10 panel">
		<h1 class="text-center">Bienvenido <%= current_user.email %></h1>
	<div>
	<div class="row">
		
	</div>	
</div>