<!DOCTYPE html>
<html>
<head>
	<title>Calderón Gonzaléz</title>
</head>
<body>
<h1>Buenas <%= @contacto.nombre %></h1>
<p> Su mensaje fue recibido, en las próximas horas tendras una respusta de tu inquietud</p>
<p>muchas gracias</p>
</body>
</html>