body {
	background-color: #E8F5E9;
}
h1{
	color: #151515;
}
.margen_nav{
	margin: 12.5px 6px;
}
.border_boton{
	border-style: none;
}
body.accesible {
    color: #0f0 !important; 
    background-color:#000000 !important;  
}
.accesible h1 {
    color: #0f0 !important; 
}
.accesible div {
	background-color:#000000 !important; 
}
.accesible a{
	color: #0f0 !important;
	background-color:#000000 !important;  
}
.accesible legend{
	color: #0f0 !important; 
}
.accesible ol{
	color: #0f0 !important;
	background-color:#000000 !important;  
}
.accesible footer{
	color: #0f0 !important;
	background-color:#000000 !important;  
}

footer{
	background-color: #FFFFFF ;

}
.contenedor{
	background-color: #fff;
	padding: 5px 20px 0px 20px;
    border: 1px solid #8DCA7E;
    margin-top: 10px;
    margin-bottom:  20px;
    border-radius: 4px;
}
p{
	text-align : justify;
}

.cabecera {

	margin-bottom: 2%;
}

.wrapper {
padding-left: 6%;
background: url(../assets/fondo.png) repeat-x left top;
}

/*Estilos de los navs*/

/* Definimos un ancho 100% y una altura fija para nuestro menú */
.navigator{
    background: #b4e368;
    border: 1.9px solid #8DCA7E;

   
}

/* El logo sera flotado a la izquierda */
#logo{
    background: url(loguito.png) no-repeat 0 0;
    display: block;
    float: left;
    margin: 6px 10px 0;
    width: 82px;
    height: 46px;
    text-indent: -9999px
}

/* Nuestro nav con id #menu lo flotaremos a la derecha*/


    /* Quitamos estilos por defecto de el tag UL */
    #menu ul{
        list-style: none;
        font-size: 14px;
    }
        
        /* Centramos y ponemos los textos en mayuscula */
        #menu li{
         
           text-transform: uppercase;
           text-align: center;
        }
            
            /* Damos estilo a nuestros enlaces */
            #menu li a{
              
                color:#53694E;
                text-decoration: none;
                height: 52px;
                line-height: 60px;
                padding: 0 26px;
                font: bold 14px 'Open Sans', sans-serif;
                padding-top: 20px;
   			    padding-bottom: 10px;
            }
            #menu li a:hover{
                background: #66bb6a;
                color: white;
            }
    
    /* Estilos #nav-mobile y lo ocultamos */
    #nav-mobile{
        display: none;
        background: url(nav.png) no-repeat center center;
        float: right;
        width: 60px;
        height: 60px;
        position: absolute;
        right: 0;
        top:0;
        opacity: .6;

    }   
        /* Agregaremos esta clase a #nav-mobile, cuando el menu mobile haya sido desplegado */
        #nav-mobile.nav-active{
            opacity: 1;
        }

/* Content */
#content{
    width: 80%;
    margin: 60px 10%;
    text-align: center;
    overflow: hidden;
}
    h2{
        font-size: 50px;
        font-weight: 600;
        text-transform: uppercase;
        color: #624c3f;
    }

.pad {

	padding-right: 0px;
}    


.servicios{

    color: #53694E ;
    font-weight: bold;
    background: #b4e368;

}

.servicios:hover,
.servicios:active  {

    background: #66bb6a;
    color:white;

}

.articulo {
  border-color:  #8DCA7E;
}

.articulo-titulo {

    color: #3c763d !important;
    background-color: #b4e368 !important;
    border-color: #3c763d !important;


}

.titulo {
    color: #3c763d !important;

    font-weight: bold;
}

.sombra {
    border-color: #8DCA7E;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 2px 2px 8px #8dc47e;
}

/*
    MEDIA QUERY
*/

@media only screen and (max-width: 768px) {
          #menu li a{

          	height: 20px;
          	font: bold 14px 'Open Sans', sans-serif;
         	
   			padding-bottom: 20px;


          }
  
}


/*</estilos de los navs>*/


/*estilos para el footer*/

footer .bar {
    background-color: #1E2629;
    padding: 20px 0;
}
footer .nombre, .social {
    font-size: 12px;
    margin: 0 auto;
   
    position: relative;

}

.social {
    position: absolute;
    margin-top: 1.7%;
    right: 0;
    top: 0;
}
.social a {
    color: #778888;
    margin-left: 20px;
}
.social a:hover {
    color: #FFFFFF;
}
    
.social a:hover  .icon {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.social .info {
    display: inline-block;
    vertical-align: middle;
}
.social .info .follow {
    display: block;
}
.social .info .num {
    display: block;
}

.social i.fa-envelope, 
i.fa-facebook, i.fa-phone{
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.nombre {
color: #ffffff;
 text-align: center;
}

  .facebook,.telefono,.mensaje {
        float: left !important;
        position:relative;

    }


.servicio{

    color: #53694E;
    font-weight: bold;
}    


/* responsive rules */
@media screen and (max-width: 1000px){
    .social{
        float:none;
        text-align:center;
    }
    .social {
        position:relative;
        margin:10px 0;
    }
   
    .bar {
        position:relative;
    }

   .facebook,.telefono,.mensaje{
        float: none !important;
        position:relative;
        text-align: center;

    }

  

  .facebook span,.telefono span,.mensaje span {

        width: 100%;
  }



}



