body {
	background-color: white;
}
h1{
	color: #151515;
}
.margen_nav{
	margin: 12.5px 6px;
}
.border_boton{
	border-style: none;
}
hshdahsjk
body.accesible {
    color: #0f0 !important; 
    background-color:#000000 !important;  
}
.accesible h1 {
    color: #0f0 !important; 
}
.accesible div {
	background-color:#000000 !important; 
}
.accesible a{
	color: #0f0 !important;
	background-color:#000000 !important;  
}
.accesible legend{
	color: #0f0 !important; 
}
.accesible ol{
	color: #0f0 !important;
	background-color:#000000 !important;  
}
.accesible footer{
	color: #0f0 !important;
	background-color:#000000 !important;  
}

footer{
	background-color: #FFFFFF ;

}
.contenedor{
	background-color: #98cc4d;
	padding: 10px 20px 0px 20px;
}
p{
	text-align : justify;
}

.cabecera {

	margin-bottom: 2%;
}

.wrapper {

background-color: #98cc4d;

}